<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OTO Branding - Agencia 360</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav>
		<a href="../index.html">
			<img src="../img/logo.png" alt="OTO Branding - Agencia 360">
		</a>

		<ul>
			<li>
				<a href="../views/quienes_somos.html">QUIENES SOMOS</a>
			</li>
			<li>
				<a href="../views/blog.html">BLOG</a>
			</li>
			<li>
				<a href="../views/contacto.html">CONTACTO</a>
			</li>
			<li>
				<a href="../views/politicas.html">POLITICAS DE PRIVACIDAD</a>
			</li>
		</ul>
	</nav>
	<header>
		<h1>OTO Branding - Agencia 360</h1>
	</header>
	<main>
		<section>
			<form action="envio.php">
				<fieldset>
					<legend>CONTACTO</legend>
					<label for="name">Nombre</label>
					<input type="text" id="name" placeholder="Escribe tu nombre y apellido aquí">
					<label for="email">Email</label>
					<input type="email" id="email" placeholder="Escribe tu correo aquí">
				</fieldset>
				<fieldset>
					<legend>¿Qué servicios deseas consultar?:</legend>
					<label for="web">Diseño Web</label>
					<input type="checkbox" id="web" value="web">
					<br>
					<label for="marcas">Creación de Marcas (Branding)</label>
					<input type="checkbox" id="marcas" value="marcas">
					<br>
					<label for="3d">3D</label>
					<input type="checkbox" id="3d" value="3d">
					<br>
					<label for="marketing">Marketing Digital</label>
					<input type="checkbox" id="marketing" value="marketing">
					<br>
					<label for="editorial">Editorial</label>
					<input type="checkbox" id="editorial" value="editorial">
					<br>
					<label for="dinterior">Diseño interior</label>
					<input type="checkbox" id="dinterior" value="dinterior">
					<br>
					<label for="audiovisual">Audiovisual</label>
					<input type="checkbox" id="audiovisual" value="audiovisual">
					<br>
					<label for="dindustrial">Diseño industrial</label>
					<input type="checkbox" id="dindustrial" value="dindustrial">
					<br>
					<label for="otros">Otros</label>
					<input type="checkbox" id="otros" value="otros">
				</fieldset>
				<fieldset>
					<legend>¿Que nivel y rubro pertenece tu Negocio?:</legend>
					<label for="pequena">Pequeña Empresa</label>
					<input type="radio" id="pequena" name="envio" value="pequena">
					<br>
					<label for="mediana">Mediana Empresa</label>
					<input type="radio" id="mediana" name="envio" value="mediana">
					<br>
					<label for="grande">Gran Empresa</label>
					<input type="radio" id="grande" name="envio" value="grande">
					<br>
					<label for="sector"></label>
					<select name="rubro" id="">
						<option value="agricultura">AGRICULTURA</option>
						<option value="gubernamental">GUBERNAMENTAL</option>
						<option value="retail">RETAIL</option>
					</select>
				</fieldset>
				<h4>Déjanos tu comentario y te contactaremos a la brevedad:</h4>
				<label for="Mensaje"></label>
				<br>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<br>
				<input type="reset" value="cancelar">
				<input type="submit" value="Enviar">
			</form>
		</section>
		<section>
			<h4>UBICACIÓN</h4>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1892.113151051178!2d-70.31657741758667!3d-18.473405790803064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915aa9970bcdb72f%3A0x6d5282e3e65d8abf!2sLuckia%20Casino!5e0!3m2!1ses-419!2scl!4v1653402739094!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</section>
	</main>
	<footer>
		<h4>SIGUENOS EN NUESTRAS REDES</h4>
		<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="Facebook" width="50pxl">
		</a>
		<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="Instagram" width="50pxl">
		</a>
		<a href="https://twitter.com/" target="_blank">
			<img src="../img/twitter.png" alt="Twitter" width="50pxl">
		</a>
		<a href="https://www.youtube.com/" target="_blank">
			<img src="../img/youtube.png" alt="Youtube" width="50pxl">
		</a>

	</footer>
</body>
</html>