<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OTO Branding - Agencia 360</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<!-- css vinculado -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<!-- Inicia Nav -->
	<nav>
		<a href="../index.html">
			<img src="../img/logo.png" alt="OTO Branding - Agencia 360">
		</a>

		<ul>
			<li>
				<a href="../views/quienes_somos.html">QUIENES SOMOS</a>
			</li>
			<li>
				<a href="../views/blog.html">BLOG</a>
			</li>
			<li>
				<a href="../views/contacto.html">CONTACTO</a>
			</li>
			<li>
				<a href="../views/politicas.html">POLITICAS DE PRIVACIDAD</a>
			</li>
		</ul>
	</nav>
	<header>
		<img src="../img/img_header_somos.jpg" alt="Imagen cabecera de Quienes Somos">
		<h1>Somos una Agencia 360</h1>
	</header>
	<main>
		<section>
			<article>
				<h2>Historia</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="text-grey text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</article>
			
		</section>
	</main>
	<footer>
		<h4>SIGUENOS EN NUESTRAS REDES</h4>
		<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="Facebook" width="50pxl">
		</a>
		<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="Instagram" width="50pxl">
		</a>
		<a href="https://twitter.com/" target="_blank">
			<img src="../img/twitter.png" alt="Twitter" width="50pxl">
		</a>
		<a href="https://www.youtube.com/" target="_blank">
			<img src="../img/youtube.png" alt="Youtube" width="50pxl">
		</a>

	</footer>
</body>
</html>